.comment_form {
  width: 95%;
}
.red-text {
    color: red;
}
.blue-text {
    color: blue;
}
.green-text {
    color: green;
}
p {
    word-wrap: break-word;
}

/* reset.css */
.reset h1,
.reset h2,
.reset h3,
.reset h4,
.reset p,
.reset ul,
.reset li,
.reset dl,
.reset dt,
.reset dd {
  all: revert;
}

.reset div{
  all: revert;
}

.hiroki{
    font-size: 66px;
}
